/* Coolors Exported Palette - coolors.co/0a0908-22333b-ffb164-0a2463-d3d0cb */

/* HSL */
$color1: hsla(30%, 11%, 4%, 1);
$color2: hsla(199%, 27%, 18%, 1);
$color3: hsla(30%, 100%, 70%, 1);
$color4: hsla(222%, 82%, 21%, 1);
$color5: hsla(38%, 8%, 81%, 1);

/* RGB */
$color1: rgba(10, 9, 8, 1);       //smoky black
$color2: rgba(34, 51, 59, 1);     // gunmetal
$color3: rgba(255, 177, 100, 1);  //light orange
$color4: rgba(10, 36, 99, 1);     // royal blue
$color5: rgba(211, 208, 203, 1);  // light gray
